.modal-content, .winner-content {
    text-align: center;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    width: clamp(150px, 80%, 900px);
    pointer-events: none;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.modal {
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    transition: all 0.25s ease-in-out;
}

.open {
    opacity: 1;
    pointer-events: all;
}

/* Header */

.header-container {
    display: inline-block;
}

.header-container .text {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: 'Source Code Pro', monospace; 
}

.text::before,
.text::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.text::before {
    background: white;
    animation:
        typewriter 2s steps(12) 1s forwards;
}

.text::after {
    width: 0.04em;
    background: black;
    animation:
        typewriter 2s steps(12) 1s forwards,
        blink 750ms steps(12) infinite;
}

.header-container .subtitle {
    color: rgba(0, 0, 0, 0.7);
    font-size: clamp(0.5rem, 3vw + 0.4rem, 2rem);
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s 3.25s forwards;
}

.choice-container {
    overflow: hidden;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation: dropDown 1s ease-in-out 5.25s forwards;
}

@keyframes typewriter {
    to { left: 100% }
}

@keyframes blink {
    to { background: transparent }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes dropDown {
    to {
        height: 55vh;
    }
}

.marks {
    display: grid;
    grid-template-columns: repeat(2, clamp(3rem, 10vw + 2rem, 10rem));
    gap: 20px;
}

.x-mark, .o-mark {
    font-family: 'Prompt', sans-serif;
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    color: rgba(0, 0, 0, 0.85);
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: clamp(3rem, 10vw + 2rem, 10rem);
    height: clamp(3rem, 10vw + 2rem, 10rem);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all ease-in-out;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-input {
    height: 20px;
    width: clamp(6rem, 20vw + 4rem, 20rem);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
}

.start-btn, .restart-btn {
    margin-top: 30px;
    padding: 0.5em;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: clamp(1rem, 2vw + 0.4rem, 1.5rem);
    transition: 0.2s all ease-in-out;
}

.x-mark:hover, .o-mark:hover, .start-btn:hover, .restart-btn:hover, .name-input:hover {
    background-color: rgb(238, 238, 238);
}

.x-mark.selected-mark {
    background-color: rgba(101, 168, 230, 0.25);
}
.o-mark.selected-mark {
    background-color: rgba(173, 228, 96, 0.25);
}

/* Results Modal */

.winner {
    font-size: clamp(1rem, 3vw + 1rem, 3rem);
}

/* Mobile */

@media only screen and (max-width: 600px) and (orientation: portrait) {
    @keyframes dropDown {
        to {
            height: 40vh;
        }
    }
}