* {
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* HEADER */
#header {
    width: 100%;
    background-color: whitesmoke;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}


/* GAME BOARD */
.game-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score-display {
    margin-bottom: 50px;
    width: 50vh;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.player-1-score, .player-2-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-name {
    font-size: 25px;
}

.player-score {
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    margin-top: 10px;
    font-size: 25px;
    padding: 20px;
    border-radius: 10px;
}

.player-1-score > .player-score {
    background-color: rgba(101, 168, 230, 0.75);
}

.player-2-score > .player-score {
    background-color: rgba(173, 228, 96, 0.75);
}

.player-1-score > .active-player {
    outline: 3px solid rgb(59, 97, 133);
}

.player-2-score > .active-player {
    outline: 3px solid rgb(91, 121, 50);
}

#game-board {
    height: 50vh;
    width: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    overflow: hidden;
}

.board-box {
    font-family: 'Prompt', sans-serif;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all ease-in-out;
    user-select: none;
}

.board-box:hover {
    background-color: rgb(238, 238, 238);
}

.player-1 > .board-box:hover {
    background-color: rgba(101, 168, 230, 0.25);
}

.player-2 > .board-box:hover {
    background-color: rgba(173, 228, 96, 0.25);
}